@import "./Config.scss";

.App {
    background-color: $color-background;
    width: 100vw;
    height: 100vh;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
