@import "./Config.scss";

.header {
	background-color: $primary-header-background;
	height: 9vh;
	position: relative;

	&__notification {
		margin: auto 0;
		display: flex;
		height: 100%;
		width: 100%;

		i {
			font-size: 2rem;
			color: $primary-header-text;
			margin: auto;
			position: relative;
		}
		&__count {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 100;
			height: 50%;
			width: 50%;
			background-color: red;
			border-radius: 50%;
			font-size: 50%;
			font-weight: 800;
			text-align: center;
			color: $primary-header-background;
			transform: translateY(8px) translateX(2px);
		}
		.noti {
			animation: noti 1s forwards;
		}
		&__list {
			position: absolute;
			left: 50%;
			top: 8vh;
			background-color: $color-background;
			width: 40%;
			padding: 1em 2em;
			z-index: 100;
			border-radius: 10px;
			transform: translateX(-50%);
			border: 1px solid $primary-header-background;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);

			ul {
				list-style-type: none;
			}
		}
	}
}

@keyframes noti {
	0% {
		transform: translateY(8px) translateX(2px) scale(1.5);
	}
	50% {
		transform: translateY(8px) translateX(2px) scale(1);
	}
}
